:root {
  --color-dark: #151515;
  --color-darkest: #000;
  --color-light: #f8f8f8;
  --color-lightest: #fff;
  --color-blue: #3b6d92;
  --color-blue-darker: #3a6280;
  --color-blue-lighter: #5a82a1;
  --color-red: #c0403b;
  --color-green: #4a9c4a;
  --transition-duration-main: 0.3s;
}

html {
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-text-hover: var(--color-darkest);
  --color-accent: var(--color-blue);
  --color-accent-hover: var(--color-blue-darker);
  --color-error: var(--color-red);
  --color-success: var(--color-green);

  font-size: calc(12px + 0.4vw);
  font-family: 'EB Garamond Variable', 'Sorts Mill Goudy', 'Times New Roman',
    Times, serif;
  background: var(--color-background);
  color: var(--color-text);
}

/* Joel doesn't want it
    @media (prefers-color-scheme: dark) {
      html {
        --color-background: var(--color-dark);
        --color-text: var(--color-light);
        --color-text-hover: var(--color-lightest);
        --color-accent-hover: var(--color-blue-lighter);
      }
    } 
  */

.display-none {
  display: none;
}

.opacity-0 {
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

button {
  cursor: pointer;
}

header,
footer,
main {
  padding: 0.75rem 1.5rem;
}

@media only screen and (width >= 625px) {
  header,
  footer,
  main {
    padding: 0.75rem clamp(50px, 3.75rem, 80px);
  }
}

main {
  display: grid;
  width: 100%;
  min-height: 100%;
}

/* Animations, view transitions */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@keyframes fade-out {
  0% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotate-x-180 {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(-180deg);
  }
}

@keyframes rotate-x-180-reverse {
  0% {
    transform: rotateX(-180deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.fade-in {
  animation: fade-in var(--transition-duration-main) ease;
  opacity: 100;
}

.fade-out {
  animation: fade-out var(--transition-duration-main) ease;
  opacity: 0;
}

.rotated-180 {
  animation: rotate-x-180 calc(var(--transition-duration-main) * 2) ease;
  transform: rotateX(-180deg);
}

.rotated-180-reverse {
  animation: rotate-x-180-reverse calc(var(--transition-duration-main) * 2) ease;
  transform: rotateX(0deg);
}

::view-transition-group(main),
::view-transition-group(footer),
::view-transition-group(dropdown) {
  animation-duration: var(--transition-duration-main);
  animation-timing-function: ease;
}

::view-transition-new(main),
::view-transition-new(footer) {
  animation-delay: var(--transition-duration-main);
}

/* Scrollbar */

* {
  scroll-behavior: smooth;
}

@supports (scrollbar-color: auto) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-text) transparent;
  }
}

@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    background: transparent;
    width: 0.3em;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-text);
    border-radius: 5px;
  }
}
