:root {
  --color-dark: #333;
  --color-dark-hover: #000;
  --color-light: #f8f8f8;
  --color-blue: #5a83a7;
  --transition-duration-main: 0.5s;
}

.display-none {
  display: none;
}

.opacity-0 {
  opacity: 0;
}

html {
  font-size: calc(12px + 0.5vw);
  font-family: 'EB Garamond Variable', 'Times New Roman', 'Times', serif;
  background: var(--color-light);
  color: var(--color-dark);
}

body {
  width: 100dvw;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.page-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  max-width: 1400px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

button {
  cursor: pointer;
}

header,
footer,
main {
  padding: 0.75rem 1.5rem;
}

.wrapper {
  display: grid;
  width: 100%;
  min-height: 100%;
}

/* Can't use scoped styles into <Fragment /> element (svgs are inside) */
header svg {
  height: 2em;
  width: 2em;
  stroke: var(--color-dark);
}

header svg:hover {
  stroke: var(--color-dark-hover);
}

.social svg {
  height: 1.75em;
  width: 1.75em;
  fill: var(--color-dark);
}

.social svg:hover {
  fill: var(--color-dark-hover);
}

@media only screen and (min-width: 625px) {
  header,
  footer,
  main {
    padding: 0.75rem 3.75rem;
  }
}

/* Animations, view transitions */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotateX180 {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(-180deg);
  }
}

@keyframes rotateX180Reverse {
  0% {
    transform: rotateX(-180deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.fade-in {
  animation: fadeIn var(--transition-duration-main) ease;
  opacity: 100;
}

.fade-out {
  animation: fadeOut var(--transition-duration-main) ease;
  opacity: 0;
}

.rotated-180 {
  animation: rotateX180 calc(var(--transition-duration-main) * 2) ease;
  transform: rotateX(-180deg);
}

.rotated-180-reverse {
  animation: rotateX180Reverse calc(var(--transition-duration-main) * 2) ease;
  transform: rotateX(0deg);
}

::view-transition-group(main),
::view-transition-group(footer),
::view-transition-group(dropdown) {
  animation-duration: var(--transition-duration-main);
  animation-timing-function: ease;
}

::view-transition-new(main),
::view-transition-new(footer) {
  animation-delay: var(--transition-duration-main);
}

/* Scrollbar */

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--color-dark) transparent;
}
