---
import Layout from '../../layouts/Layout.astro';
import { PortableText } from 'astro-portabletext';
import { aboutContentEn } from '../../cms/queries';

const seo = {
  title: 'About',
  description:
    'Discover GUARDA by Joel Rico Rada, exploring spiritual terror through field recordings, modular synthesis, and spoken word.',
  openGraph: {
    basic: {
      title: 'About | GUARDA',
    },
  },
};
---

<Layout seo={seo}>
  <main transition:name="main" transition:animate="fade">
    <PortableText value={aboutContentEn} />
  </main>
</Layout>

<style>
  main {
    gap: 1.5em;
    align-content: start;
    max-inline-size: 110ch;
  }
</style>
