---
import ContactForm from '../../components/ContactForm.astro';
import Layout from '../../layouts/Layout.astro';
import * as accounts from '../../utils/accounts.json';

const title = 'Contact';
const description =
  'Contact Joel Rico Rada, creator of GUARDA - Submit music collaborations, press inquiries, or questions directly to the artist.';
---

<Layout title={title} description={description}>
  <main transition:name="main" transition:animate="fade">
    <ContactForm />
    <p>
      Or send an email to <a href={`mailto:${accounts.email}`}>
        {accounts.email}</a
      >
    </p>
  </main>

  <style>
    main {
      display: grid;
      gap: 3em;
      align-content: space-between;
    }

    a {
      color: var(--color-accent);
    }

    a:hover {
      text-decoration: underline;
    }
  </style>
</Layout>
