---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="About - Guarda" lang="en">
  <main transition:name="main" transition:animate="fade">
    <h1>Contact</h1>
  </main>
</Layout>

<style>
  main {
    display: grid;
    place-items: center;
  }
</style>
