---
import Layout from '../../layouts/Layout.astro';
import ContactForm from '../../components/ContactForm.astro';
---

<Layout title="Contact - Guarda" lang="en">
  <main transition:name="main" transition:animate="fade">
    <ContactForm />
    <p>
      Or send an email to <a href="mailto:info@joelricorada.com">
        info@joelricorada.com</a
      >
    </p>
  </main>
</Layout>

<style>
  main {
    display: grid;
    gap: 3em;
    align-content: space-between;
  }

  a {
    color: var(--color-accent);
  }

  a:hover {
    text-decoration: underline;
  }
</style>
