---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="About - Guarda" lang="en">
  <div class="wrapper">
    <h1>Contact</h1>
  </div>
</Layout>

<style>
  .wrapper {
    display: grid;
    place-items: center;
  }
</style>
