---
import { backgroundUrl } from '../../cms/queries';
import Layout from '../../layouts/Layout.astro';
import { getImage } from 'astro:assets';

const background = await getImage({
  src: backgroundUrl,
  format: 'webp',
  inferSize: true,
});
---

<Layout
  title="GUARDA"
  lang="en"
  description="Official page of GUARDA, the music project by Joel Rico Rada. Explore his music, concerts, and journey."
  backgroundImage={background}
>
  <main transition:name="main" transition:animate="fade"></main>
</Layout>
