---
import { background } from '../../cms/queries';
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title="GUARDA"
  lang="en"
  description="Official page of GUARDA, the music project by Joel Rico Rada. Explore his music, concerts, and journey."
  backgroundImage={background}
>
  <main transition:name="main" transition:animate="fade"></main>
</Layout>

<style></style>
