---
import { getImage } from 'astro:assets';
import { backgroundUrl } from '../../cms/queries';
import IndexSchema from '../../components/seo/IndexSchema.astro';
import Layout from '../../layouts/Layout.astro';

const title = 'Home';
const description =
  'Official website of GUARDA - Experimental music project by sound artist Joel Rico Rada. Discover albums, live shows, and sound art works.';

const background = await getImage({
  src: backgroundUrl,
  format: 'webp',
  inferSize: true,
});
---

<Layout title={title} description={description} backgroundImage={background}>
  <IndexSchema slot="inside-head" />
  <main transition:name="main" transition:animate="fade"></main>
</Layout>
