---
import { getImage } from 'astro:assets';
import { backgroundUrl } from '../../cms/queries';
import Layout from '../../layouts/Layout.astro';
import IndexSchema from '../../components/seo/IndexSchema.astro';

const title = 'Home';
const description =
  'Official page of GUARDA, the music project by Joel Rico Rada. Explore his music, concerts, and journey.';

const background = await getImage({
  src: backgroundUrl,
  format: 'webp',
  inferSize: true,
});
---

<Layout title={title} description={description} backgroundImage={background}>
  <IndexSchema slot="inside-head" />
  <main transition:name="main" transition:animate="fade"></main>
</Layout>
