---
import { getImage } from 'astro:assets';
import { backgroundUrl } from '../../cms/queries';
import Layout from '../../layouts/Layout.astro';

const seo = {
  title: 'Home',
  description:
    'Official page of GUARDA, the music project by Joel Rico Rada. Explore his music, concerts, and journey.',
  openGraph: {
    basic: {
      title: 'Home | GUARDA',
    },
  },
};

const background = await getImage({
  src: backgroundUrl,
  format: 'webp',
  inferSize: true,
});
---

<Layout seo={seo} backgroundImage={background}>
  <main transition:name="main" transition:animate="fade"></main>
</Layout>
