---
import Image from 'astro/components/Image.astro';
import Layout from '../../layouts/Layout.astro';
import { homeImage } from '../../sanityQueries';
---

<Layout title="Guarda" lang="en" isIndex>
  <div class="wrapper">
    <Image
      src={homeImage.url}
      alt={homeImage.alt}
      widths={[320, 540, 720]}
      inferSize
      sizes={`(max-width: 360px) 320px, (max-width: 720px) 540px, (max-width: 1600px) 540px`}
    />
  </div>
</Layout>

<style>
  .wrapper {
    display: grid;
    place-items: center;
  }

  .wrapper img {
    width: auto;
    height: auto;
  }
</style>
