---
import { getImage } from 'astro:assets';
import { backgroundUrl } from '../../cms/queries';
import Layout from '../../layouts/Layout.astro';

const title = 'Home';
const description =
  'Official page of GUARDA, the music project by Joel Rico Rada. Explore his music, concerts, and journey.';

const seo = {
  title,
  description,
  openGraph: {
    basic: {
      title,
    },
    optional: {
      description,
    },
  },
};

const background = await getImage({
  src: backgroundUrl,
  format: 'webp',
  inferSize: true,
});
---

<Layout seo={seo} backgroundImage={background}>
  <main transition:name="main" transition:animate="fade"></main>
</Layout>
