---
import { getImage } from 'astro:assets';
import { backgroundUrl } from '../../cms/queries';
import Layout from '../../layouts/Layout.astro';

const title = 'Home';
const description =
  'Official page of GUARDA, the music project by Joel Rico Rada. Explore his music, concerts, and journey.';

const background = await getImage({
  src: backgroundUrl,
  format: 'webp',
  inferSize: true,
});

const structuredData = {
  '@context': 'https://schema.org',
  '@type': 'WebSite',
  name: 'GUARDA',
  description: 'GUARDA, music project by Joel Rico Rada',
};
---

<Layout
  title={title}
  description={description}
  structuredData={structuredData}
  backgroundImage={background}
>
  <main transition:name="main" transition:animate="fade"></main>
</Layout>
