---
import EventList from '../../components/EventList.astro';
import Layout from '../../layouts/Layout.astro';
import { liveContent } from '../../sanityQueries';
---

<Layout title="Live - Guarda" lang="en">
  <main transition:name="main" transition:animate="fade">
    {
      liveContent.map(({ year, events }) => (
        <EventList year={year} events={events} />
      ))
    }
  </main>
</Layout>

<style>
  main {
    grid-auto-flow: column;
    gap: 1.25em;
  }
</style>
