---
import { liveContentEn } from '../../cms/queries';
import EventList from '../../components/EventList.astro';
import LiveSchema from '../../components/seo/LiveSchema.astro';
import Layout from '../../layouts/Layout.astro';

const title = 'Live';
const description =
  "Experience GUARDA's live performances - Experimental music project by Joel Rico Rada. Past shows and upcoming concert dates.";
---

<Layout title={title} description={description}>
  <LiveSchema slot="inside-head" />
  <main transition:name="main" transition:animate="fade">
    {
      liveContentEn.map(({ year, events }) => (
        <EventList year={year} events={events} />
      ))
    }
  </main>
</Layout>

<style>
  main {
    grid-auto-flow: row;
    gap: 1.5em;
    align-content: start;
  }
</style>
