---
import { liveContentEn } from '../../cms/queries';
import EventList from '../../components/EventList.astro';
import Layout from '../../layouts/Layout.astro';

const title = 'Live';
const description =
  'Check out the concert list of GUARDA, the project by Joel Rico Rada. Discover upcoming dates and relive past performances.';
---

<Layout title={title} description={description}>
  <main transition:name="main" transition:animate="fade">
    {
      liveContentEn.map(({ year, events }) => (
        <EventList year={year} events={events} />
      ))
    }
  </main>
</Layout>

<style>
  main {
    grid-auto-flow: row;
    gap: 1.5em;
    align-content: start;
  }
</style>
