---
import EventList from '../../components/EventList.astro';
import Layout from '../../layouts/Layout.astro';
import { liveContent } from '../../sanityQueries';
---

<Layout title="Live - Guarda" lang="en">
  <div class="wrapper">
    {
      liveContent.map(({ year, events }) => (
        <EventList year={year} events={events} />
      ))
    }
  </div>
</Layout>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
  }
</style>
