---
import Head from '../components/Head.astro';
import '../styles/global.css';
import '../styles/reset.css';
---

<!doctype html>
<html>
  <Head>
    <title>404 Not Found | GUARDA</title>
    <meta
      name="description"
      content="Page not found. Please check the URL or return to the homepage."
    />
    <meta name="robots" content="noindex, follow" />
  </Head>
  <body>
    <h1>404 Not Found</h1>
    <nav>
      <a href="/">Volver a Inicio</a>
      <a href="/en">Return to Home</a>
    </nav>
  </body>
</html>

<style>
  body {
    display: grid;
    place-items: center;
    align-content: center;
    gap: 1em;
  }

  h1 {
    font-size: 2.75rem;
  }

  nav {
    display: flex;
    gap: 1em;
    color: var(--color-accent);
  }

  a:hover {
    text-decoration: underline;
  }
</style>
