---
import { PortableText } from 'astro-portabletext';
import { aboutContentEs } from '../cms/queries';
import Layout from '../layouts/Layout.astro';

const title = 'About';
const description =
  'Descubre el proyecto GUARDA de Joel Rico Rada, explorando el terror espiritual con field recordings, síntesis modular y spoken word.';
---

<Layout title={title} description={description}>
  <main transition:name="main" transition:animate="fade">
    <PortableText value={aboutContentEs} />
  </main>
</Layout>

<style>
  main {
    gap: 1.5em;
    align-content: start;
    max-inline-size: 110ch;
  }
</style>
