---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About - Guarda">
  <div class="wrapper">
    <p>
      Antonio. Todavía no he puesto nada aquí.
      Joel. Yo lo estoy inentando poner.
      Antonio. Todavía no he puesto nada aquí.
      Joel. Yo lo estoy inentando poner.
      Antonio. Todavía no he puesto nada aquí 
      Joel. Yo lo estoy inentando poner.
      Antonio. Todavía no he puesto nada aquí.
      Joel. Yo lo estoy inentando poner.
      Antonio. Todavía no he puesto nada aquí 
      Joel. Yo lo estoy inentando poner.
      Antonio. Todavía no he puesto nada aquí.
      Joel. Yo lo estoy inentando poner.
    </p>
    <p>
      Antonio. Todavía no he puesto nada aquí.
      Joel. Yo lo estoy inentando poner.
      Antonio. Todavía no he puesto nada aquí.
      Joel. Yo lo estoy inentando poner.
      Antonio. Todavía no he puesto nada aquí 
      Joel. Yo lo estoy inentando poner.
      Antonio. Todavía no he puesto nada aquí.
      Joel. Yo lo estoy inentando poner.
    </p>
    <p>
      Antonio. Todavía no he puesto nada aquí.
      Joel. Yo lo he puesto, entiendo.
    </p>
  </div>
</BaseLayout>

<style>
  .wrapper {
    font-size: 0.8rem;
    display: grid;
    gap: 1.5em;
    align-content: start;
    max-inline-size: 100ch;
  }
</style>