---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About - Guarda">
  <main>
    <p>
      Antonio. Todavía no he puesto nada aquí.
      Joel. Yo lo estoy inentando poner.
      Antonio. Todavía no he puesto nada aquí.
      Joel. Yo lo estoy inentando poner.
      Antonio. Todavía no he puesto nada aquí 
      Joel. Yo lo estoy inentando poner.
      Antonio. Todavía no he puesto nada aquí.
      Joel. Yo lo estoy inentando poner.
      Antonio. Todavía no he puesto nada aquí 
      Joel. Yo lo estoy inentando poner.
      Antonio. Todavía no he puesto nada aquí.
      Joel. Yo lo estoy inentando poner.
    </p>
    <p>
      Antonio. Todavía no he puesto nada aquí.
      Joel. Yo lo estoy inentando poner.
      Antonio. Todavía no he puesto nada aquí.
      Joel. Yo lo estoy inentando poner.
      Antonio. Todavía no he puesto nada aquí 
      Joel. Yo lo estoy inentando poner.
      Antonio. Todavía no he puesto nada aquí.
      Joel. Yo lo estoy inentando poner.
    </p>
    <p>
      Antonio. Todavía no he puesto nada aquí.
      Joel. Yo lo he puesto, entiendo.
    </p>
  </main>
</Layout>

<style>
  main {
    font-size: 0.8rem;
    display: grid;
    gap: 1.5em;
    align-content: start;
  }
</style>