---
import { PortableText } from 'astro-portabletext';
import { aboutContentEs } from '../cms/queries';
import AboutSchema from '../components/seo/AboutSchema.astro';
import Layout from '../layouts/Layout.astro';

const title = 'About';
const description =
  'Descubre GUARDA - Proyecto de Joel Rico Rada que fusiona grabaciones de campo, síntesis modular y spoken word para explorar la locura, la muerte y la transcendencia.';
---

<Layout title={title} description={description}>
  <AboutSchema slot="inside-head" />
  <main transition:name="main" transition:animate="fade">
    <PortableText value={aboutContentEs} />
  </main>
</Layout>

<style>
  main {
    gap: 1.5em;
    align-content: start;
    max-inline-size: 110ch;
  }
</style>
