---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact - Guarda" lang="es">
  <main transition:name="main" transition:animate="fade">
    <h1>Contacto</h1>
  </main>
</Layout>

<style>
  main {
    place-items: center;
  }
</style>
