---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About - Guarda" lang="es">
  <div class="wrapper">
    <h1>Contacto</h1>
  </div>
</BaseLayout>

<style>
  .wrapper {
    display: grid;
    place-items: center;
  }
</style>
