---
import ContactForm from '../components/ContactForm.astro';
import Layout from '../layouts/Layout.astro';

const contactEmail = import.meta.env.CONTACT_EMAIL;

const seo = {
  title: 'Contact',
  description:
    'Ponte en contacto con Joel Rico Rada, el creador de GUARDA. Envía tus preguntas, solicitudes de prensa o colaboraciones.',
};
---

<Layout seo={seo}>
  <main transition:name="main" transition:animate="fade">
    <ContactForm />
    <p>
      O envía un email a <a href={`mailto:${contactEmail}`}> {contactEmail}</a>
    </p>
  </main>
</Layout>

<style>
  main {
    display: grid;
    gap: 3em;
    align-content: space-between;
  }

  a {
    color: var(--color-accent);
  }

  a:hover {
    text-decoration: underline;
  }
</style>
