---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About - Guarda">
  <main>
    <h1>Contact</h1>
  </main>
</BaseLayout>

<style>
  main {
    display: grid;
    place-items: center;
  }
</style>