---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About - Guarda" lang="es">
  <div class="wrapper">
    <h1>Contacto</h1>
  </div>
</Layout>

<style>
  .wrapper {
    place-items: center;
  }
</style>
