---
import BaseLayout from '../layouts/BaseLayout.astro';
import Album from '../components/Album.astro';

import { sanityClient } from 'sanity:client';
import  imageUrlBuilder from '@sanity/image-url';

const builder = imageUrlBuilder(sanityClient);

function urlFor(source) {
  return builder.image(source);
}

const albums = await sanityClient.fetch(
  `*[_type == "album"] | order(appearanceOrder desc) { 
    title, cover, imageAlt, bandcampLink 
  }`);

console.log(albums);
---

<BaseLayout title="Discography - Guarda">
  <main>
    {albums.map((album) => (
      <Album 
        img={urlFor(album.cover).url()} 
        alt={`${album.imageAlt}`} 
        title={album.title}
        link={album.bandcampLink}
      />
    ))}
    
  </main>
</BaseLayout>

<style>
  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3em;
    align-content: start;
  }
</style>