---
import Project from '../components/Project.astro';
import Layout from '../layouts/Layout.astro';
import { projects } from '../sanityQueries.js';
---

<Layout title="Discography - Guarda" lang="es">
  <main transition:name="main" transition:animate="fade">
    {
      projects.map(({ coverUrl, title, bandcampLink }) => (
        <Project
          img={coverUrl}
          alt={`Portada de ${title}`}
          title={title}
          link={bandcampLink}
        />
      ))
    }
  </main>
</Layout>

<style>
  main {
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 2.5em;
    align-content: start;
  }

  @media screen and (min-width: 825px) {
    main {
      grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
    }
  }
</style>
