---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About - Guarda">
  <main>
    <h1>music</h1>
  </main>
</Layout>

<style>
  main {
    display: grid;
    place-items: center;
  }
</style>