---
import Project from '../components/Project.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { projects } from '../sanityQueries.js';
---

<BaseLayout title="Discography - Guarda" lang="es">
  <div class="wrapper">
    {
      projects.map((project) => (
        <Project
          img={project.coverUrl}
          alt={`${project.imageAlt}`}
          title={project.title}
          link={project.bandcampLink}
        />
      ))
    }
  </div>
</BaseLayout>

<style>
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 3em;
    align-content: start;
  }

  @media screen and (min-width: 825px) {
    .wrapper {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
</style>
