---
import BaseLayout from '../layouts/BaseLayout.astro';
import Project from '../components/Project.astro';

import { sanityClient } from 'sanity:client';
import  imageUrlBuilder from '@sanity/image-url';

const builder = imageUrlBuilder(sanityClient);

function urlFor(source) {
  return builder.image(source);
}

const projects = await sanityClient.fetch(
  `*[_type == "project"] | order(releaseDate desc) { 
    title, cover, imageAlt, bandcampLink 
  }`);

---

<BaseLayout title="Discography - Guarda">
  <div class="wrapper">
    {projects.map((project) => (
      <Project
        img={urlFor(project.cover).url()} 
        alt={`${project.imageAlt}`} 
        title={project.title}
        link={project.bandcampLink}
      />
    ))}
  </div>
</BaseLayout>

<style>
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 3em;
    align-content: start;
  }
  
  @media screen and (min-width: 825px) {
    .wrapper {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
</style>