---
import { getImage } from 'astro:assets';
import { backgroundUrl } from '../cms/queries';
import Layout from '../layouts/Layout.astro';

const title = 'Home';
const description =
  'Página oficial de GUARDA, el proyecto musical de Joel Rico Rada. Descubre su música, conciertos y trayectoria.';

const background = await getImage({
  src: backgroundUrl,
  format: 'webp',
  inferSize: true,
});
---

<Layout title={title} description={description} backgroundImage={background}>
  <main transition:name="main" transition:animate="fade"></main>
</Layout>
