---
import { backgroundUrl } from '../cms/queries';
import Layout from '../layouts/Layout.astro';
import { getImage } from 'astro:assets';

const background = await getImage({
  src: backgroundUrl,
  format: 'webp',
  inferSize: true,
});
---

<Layout
  title="GUARDA"
  lang="es"
  description="Página oficial de GUARDA, el proyecto musical de Joel Rico Rada. Descubre su música, conciertos y trayectoria."
  backgroundImage={background}
>
  <main transition:name="main" transition:animate="fade"></main>
</Layout>

