---
import { getImage } from 'astro:assets';
import { backgroundUrl, ogImageUrl } from '../cms/queries';
import Layout from '../layouts/Layout.astro';

const ogImage = await getImage({
  src: ogImageUrl,
  format: 'jpg',
  inferSize: true,
});

const seo = {
  title: 'Home',
  description:
    'Página oficial de GUARDA, el proyecto musical de Joel Rico Rada. Descubre su música, conciertos y trayectoria.',
  openGraph: {
    basic: {
      title: 'Home | GUARDA',
      type: 'website',
      image: ogImage,
      url: Astro.url.href
    },
  },
};

const background = await getImage({
  src: backgroundUrl,
  format: 'webp',
  inferSize: true,
});
---

<Layout seo={seo} backgroundImage={background}>
  <main transition:name="main" transition:animate="fade"></main>
</Layout>
