---
import { getImage } from 'astro:assets';
import { backgroundUrl } from '../cms/queries';
import IndexSchema from '../components/seo/IndexSchema.astro';
import Layout from '../layouts/Layout.astro';

const title = 'Home';
const description =
  'Sitio oficial de GUARDA, el proyecto de música experimental de Joel Rico Rada. Descubre su discografía, conciertos y obras de arte sonoro.';

const background = await getImage({
  src: backgroundUrl,
  format: 'webp',
  inferSize: true,
});
---

<Layout title={title} description={description} backgroundImage={background}>
  <IndexSchema slot="inside-head" />
  <main transition:name="main" transition:animate="fade"></main>
</Layout>
