---
import { getImage } from 'astro:assets';
import { backgroundUrl } from '../cms/queries';
import Layout from '../layouts/Layout.astro';

const background = await getImage({
  src: backgroundUrl,
  format: 'webp',
  inferSize: true,
});
---

<Layout backgroundImage={background}>
  <main transition:name="main" transition:animate="fade"></main>
</Layout>
