---
import { liveContentEs } from '../cms/queries';
import EventList from '../components/EventList.astro';
import Layout from '../layouts/Layout.astro';

const title = 'Live';
const description =
  'Consulta la lista de conciertos de GUARDA, el proyecto de Joel Rico Rada. Descubre próximas fechas y revive sus actuaciones pasadas.';

const seo = {
  title,
  description,
  openGraph: {
    basic: {
      title,
    },
    optional: {
      description,
    },
  },
};
---

<Layout seo={seo}>
  <main transition:name="main" transition:animate="fade">
    {
      liveContentEs.map(({ year, events }) => (
        <EventList year={year} events={events} />
      ))
    }
  </main>
</Layout>

<style>
  main {
    grid-auto-flow: row;
    gap: 1.5em;
    align-content: start;
  }
</style>
