---
import EventList from '../components/EventList.astro';
import Layout from '../layouts/Layout.astro';
import { liveContentES } from '../sanityQueries';
---

<Layout title="Live - Guarda" lang="es">
  <main transition:name="main" transition:animate="fade">
    {
      liveContentES.map(({ year, events }) => (
        <EventList year={year} events={events} />
      ))
    }
  </main>
</Layout>

<style>
  main {
    grid-auto-flow: row;
    gap: 1.5em;
    align-content: start;
  }
</style>
