---
import { Image } from "astro:assets";

const { img, alt, title } = Astro.props;
---
<div>
  <Image 
    src={img} 
    alt={alt} 
    widths={[320, 540, 720, img.width]}
    sizes={
      '(max-width: 360px) 320px, (max-width: 720px) 540px,' + 
      `(max-width: 1600px) 720px, ${img.width}px`
    }
  />
  <p>{title}</p>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
</style>