---
/* 
  This was useful: https://docs.astro.build/en/guides/client-side-scripts/#pass-frontmatter-variables-to-scripts

  Validation remains kind of harcoded ATM!!!!
  Did this i18n system to avoid duplication & ended up hardcoding the min & max validation values in the translations.json. IF CHANGED, CARE!!!
*/

import { useTranslations } from '../i18n/utils';

const lang = Astro.currentLocale;
const t = useTranslations(lang);
---

<form id="contact-form" novalidate data-lang={lang}>
  <div class="form-control">
    <input
      type="text"
      name="user_name"
      id="user_name"
      placeholder={t('form.ui.user_name') + '*'}
    />
    <span class="error"></span>
  </div>

  <div class="form-control">
    <input
      type="email"
      name="user_email"
      id="email"
      placeholder={t('form.ui.user_email') + '*'}
      autocomplete="on"
    />
    <span class="error"></span>
  </div>

  <div class="form-control">
    <input
      type="text"
      name="subject"
      id="subject"
      placeholder={t('form.ui.subject') + '*'}
    />
    <span class="error"></span>
  </div>

  <div class="form-control">
    <textarea
      rows="8"
      name="message"
      id="message"
      placeholder={t('form.ui.message') + '*'}></textarea>
    <span class="error"></span>
  </div>

  <div class="form-control">
    <button type="submit">{t('form.ui.submit')}</button>
    <span id="submission-result"></span>
  </div>
</form>

<script src="../utils/contactFormAction.js"></script>

<style>
  form {
    max-inline-size: 100ch;
    display: grid;
    gap: 1em;
    grid-template-areas:
      'name'
      'email'
      'subject'
      'message'
      'submit';
    color: var(--color-text);
  }

  .form-control {
    display: flex;
    flex-direction: column;
  }

  .form-control:has(input[name='user_name']) {
    grid-area: name;
  }

  .form-control:has(input[name='user_email']) {
    grid-area: email;
  }

  .form-control:has(input[name='subject']) {
    grid-area: subject;
  }

  .form-control:has(textarea[name='message']) {
    grid-area: message;
  }

  .form-control:has(button[type='submit']) {
    grid-area: submit;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1em;
  }

  input,
  textarea,
  button,
  #submission-result {
    padding: 0.3em 0.1rem;
  }

  input,
  textarea {
    border-bottom: 1px solid var(--color-text);
  }

  input,
  textarea,
  input::placeholder,
  textarea::placeholder,
  button {
    color: inherit;
  }

  button:hover {
    color: var(--color-text-hover);
  }

  .invalid {
    border-bottom: 1px solid var(--color-error);
  }

  .error {
    height: 1rem;
    font-size: 0.8rem;
    padding: 0.2em 0.1rem;
    color: var(--color-error);
  }

  @media only screen and (width >= 625px) {
    form {
      grid-template-areas:
        'name email'
        'subject subject'
        'message message'
        'submit submit';
      grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (width >= 699px) {
    .form-control:has(button[type='submit']) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1em;
    }
  }
</style>
