---
/* 
  This was useful: https://docs.astro.build/en/guides/client-side-scripts/#pass-frontmatter-variables-to-scripts

  Validation remains kind of harcoded ATM!!!!
  Did this i18n system to avoid duplication & ended up hardcoding the min & max validation values in the translations.json. IF CHANGED, CARE!!!
*/
import { useTranslations } from '../i18n/utils';

const lang = Astro.currentLocale;
const t = useTranslations(lang);
---

<form id="contact-form" novalidate data-lang={lang}>
  <div class="form-control">
    <input
      type="text"
      name="user_name"
      id="user_name"
      placeholder={t('form.ui.user_name') + '*'}
    />
    <span class="error"></span>
  </div>

  <div class="form-control">
    <input
      type="email"
      name="user_email"
      id="email"
      placeholder={t('form.ui.user_email') + '*'}
    />
    <span class="error"></span>
  </div>

  <div class="form-control">
    <input
      type="text"
      name="subject"
      id="subject"
      placeholder={t('form.ui.subject') + '*'}
    />
    <span class="error"></span>
  </div>

  <div class="form-control">
    <textarea
      rows="8"
      name="message"
      id="message"
      placeholder={t('form.ui.message') + '*'}></textarea>
    <span class="error"></span>
  </div>

  <div class="form-control">
    <button type="submit">{t('form.ui.submit')}</button>
    <span id="submission-result"></span>
  </div>
</form>

<script>
  import validator from 'validator';
import { useTranslations } from '../i18n/utils';

  document.addEventListener('astro:page-load', () => {
    const form = document.querySelector('#contact-form') as HTMLElement;
    const lang = form.dataset.lang;
    const t = useTranslations(lang);

    const nameInput = document.querySelector('input[name="user_name"]');
    nameInput.addEventListener('blur', function () {
      validate(this, checkNameValidity);
    });

    const emailInput = document.querySelector('input[name="user_email"]');
    emailInput.addEventListener('blur', function () {
      validate(this, checkEmailValidity);
    });

    const subjectInput = document.querySelector('input[name="subject"]');
    subjectInput.addEventListener('blur', function () {
      validate(this, checkSubjectValidity);
    });

    const messageInput = document.querySelector('textarea[name="message"]');
    messageInput.addEventListener('blur', function () {
      validate(this, checkMessageValidity);
    });

    function validate(input, validatorFn) {
      const errorMessage = validatorFn(validator.trim(input.value));

      if (errorMessage) {
        showError(input, errorMessage);
        return false;
      } else {
        hideError(input);
        return true;
      }
    }

    function showError(input, message) {
      input.classList.add('invalid');
      input.nextElementSibling.textContent = message;
    }

    function hideError(input) {
      input.classList.remove('invalid');
      input.nextElementSibling.textContent = '';
    }

    function checkNameValidity(value) {
      const min = 1;
      const max = 50;

      if (validator.isEmpty(value)) return t('form.errors.name.required');

      if (!validator.isLength(value, { min, max })) {
        return t('form.errors.name.outOfRange');
      }

      return false;
    }

    function checkEmailValidity(value) {
      const min = 3;
      const max = 254;

      if (validator.isEmpty(value)) return t('form.errors.email.required');

      if (!validator.isLength(value, { min, max })) {
        return t('form.errors.email.outOfRange');
      }

      if (!validator.isEmail(value)) return t('form.errors.email.badFormat');

      return false;
    }

    function checkSubjectValidity(value) {
      const min = 1;
      const max = 70;

      if (validator.isEmpty(value)) return t('form.errors.subject.required');

      if (!validator.isLength(value, { min, max })) {
        return t('form.errors.subject.outOfRange');
      }

      return false;
    }

    function checkMessageValidity(value) {
      const min = 10;

      if (validator.isEmpty(value)) return t('form.errors.message.required');

      if (!validator.isLength(value, { min })) {
        return t('form.errors.message.outOfRange');
      }

      return false;
    }
  });
</script>

<style>
  form {
    max-inline-size: 100ch;
    display: grid;
    gap: 1em;
    grid-template-areas:
      'name'
      'email'
      'subject'
      'message'
      'submit';
    color: var(--color-text);
  }

  .form-control {
    display: flex;
    flex-direction: column;
  }

  .form-control:has(input[name='user_name']) {
    grid-area: name;
  }

  .form-control:has(input[name='user_email']) {
    grid-area: email;
  }

  .form-control:has(input[name='subject']) {
    grid-area: subject;
  }

  .form-control:has(textarea[name='message']) {
    grid-area: message;
  }

  .form-control:has(button[type='submit']) {
    grid-area: submit;
    padding: 0.3em 0.1rem;
    flex-direction: row;
    justify-content: space-between;
  }

  input,
  textarea {
    border-bottom: 1px solid var(--color-text);
    padding: 0.3em 0.1rem;
  }

  button:hover {
    color: var(--color-text-hover);
  }

  input,
  textarea,
  input::placeholder,
  textarea::placeholder,
  button {
    color: inherit;
  }

  .invalid {
    border-bottom: 1px solid var(--color-error);
  }

  .error {
    height: 1rem;
    font-size: 0.8rem;
    padding: 0.2em 0.1rem;
    color: var(--color-error);
  }

  @media only screen and (min-width: 625px) {
    form {
      grid-template-areas:
        'name email'
        'subject subject'
        'message message'
        'submit submit';
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
