---
import NavigationLink from "./NavigationLink.astro";
---

<nav>
  <ul>
    <li><NavigationLink href="/about">About</NavigationLink></li>
    <li><NavigationLink href="/discography">Discography</NavigationLink></li>
    <li><NavigationLink href="/live">Live</NavigationLink></li>
    <li><NavigationLink href="/contact">Contact</NavigationLink></li>
  </ul>
</nav>


<style>
  nav {
    display: none;
  }

  ul {
    display: flex;
    gap: 1.5em;
    align-items: start;
  }

  @media only screen and (min-width: 625px) {
    nav {
      display: block;
    }
  }
</style>