---
---

<button class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</button>

<style>
  .hamburger {
    height: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .line {
    display: block;
    width: 2em;
    height: 1px;
    background-color: var(--color-dark);
  }
</style>