---
import SVGIcon from "./SVGIcon.astro"
---
<button>
  <SVGIcon name="dropdown" />
</button>

<style>
  button {
    cursor: pointer;
    height: 100%;
  }

  @media only screen and (min-width: 625px) {
    button {
      display: none;
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    document.querySelector('button').addEventListener('click', () => {
      document.querySelector('nav').classList.toggle('expanded')
    });
  });
</script>