---
import { Icon } from 'astro-icon/components';
---

<button class="dropdown-btn" aria-label="Toggle dropdown">
  <Icon name="chevron" />
</button>

<style>
  button {
    height: 100%;
  }

  [data-icon] {
    height: 2.5em;
    width: 2.5em;
    color: var(--color-text);
  }

  @media only screen and (min-width: 625px) {
    button {
      display: none;
    }
  }
</style>

<script is:inline>
  document.addEventListener('astro:page-load', () => {
    const dropdown = document.querySelector('.dropdown');
    const dropdownBtn = document.querySelector('.dropdown-btn');
    const main = document.querySelector('main');
    const header = document.querySelector('header');
    // Control variable to control header styles for index page
    const isIndex = document.body.classList.contains('background-image');

    // Set fixed dropdown height on body resize
    const resizeObserver = new ResizeObserver(() => {
      const headerHeight = parseFloat(
        window.getComputedStyle(document.querySelector('header')).height
      );
      dropdown.style.top = `${headerHeight}px`;
    });

    resizeObserver.observe(document.body);

    // Show the dropdown
    dropdownBtn.addEventListener('click', () => {
      if (dropdown.classList.contains('expanded')) {
        dropdown.addEventListener(
          'animationend',
          () => {
            dropdown.classList.toggle('expanded');
            main.classList.replace('fade-out', 'fade-in');
          },
          { once: true }
        );
        if (isIndex) {
          header.classList.add('transparent');
        }
        dropdown.classList.replace('fade-in', 'fade-out');
        document.body.style.overflowY = 'auto';
        return;
      }

      main.addEventListener(
        'animationend',
        () => {
          dropdown.classList.toggle('expanded');
          dropdown.classList.replace('fade-out', 'fade-in') ||
            dropdown.classList.add('fade-in');

          if (isIndex) {
            header.classList.remove('transparent');
          }
        },
        { once: true }
      );
      main.classList.replace('fade-in', 'fade-out') ||
        main.classList.add('fade-out');
      document.body.style.overflowY = 'hidden';
    });

    dropdownBtn.addEventListener('click', () => {
      if (!dropdownBtn.classList.contains('rotated-180')) {
        dropdownBtn.classList.replace('rotated-180-reverse', 'rotated-180') ||
          dropdownBtn.classList.add('rotated-180');
        return;
      }

      dropdownBtn.classList.replace('rotated-180', 'rotated-180-reverse');
    });
  });
</script>
