---
import { Icon } from 'astro-icon/components';
---

<button class="dropdown-btn" aria-label="Toggle dropdown">
  <Icon name="chevron" />
</button>

<style>
  button {
    height: 100%;
  }

  [data-icon] {
    height: 2.5em;
    width: 2.5em;
    color: var(--color-text);
  }

  @media only screen and (width >= 625px) {
    button {
      display: none;
    }
  }
</style>

<script is:inline>
  document.addEventListener('astro:page-load', () => {
    const dropdown = document.querySelector('.dropdown');
    const dropdownBtn = document.querySelector('.dropdown-btn');
    const main = document.querySelector('main');
    const header = document.querySelector('header');
    // Control variable to control header styles for index page
    const isIndex = document.body.classList.contains('background-image');

    // Set fixed dropdown height on body resize
    const dropdownResizer = new ResizeObserver(() => {
      const headerHeight = parseFloat(
        window.getComputedStyle(document.querySelector('header')).height
      );
      dropdown.style.top = `${headerHeight}px`;
    });

    dropdownResizer.observe(document.body);

    // Hide menu & show content in case the resize exceeds width (would result
    // in a white page otherwise, cause menu would disappear and main is hidden
    // after the animation)

    const contentRestorer = new ResizeObserver(() => {
      if (
        dropdown.classList.contains('expanded') &&
        document.body.clientWidth >= 625
      ) {
        dropdown.classList.replace('fade-in', 'fade-out');
        dropdown.classList.toggle('expanded');

        if (isIndex) {
          header.classList.add('transparent');
        }

        main.classList.replace('fade-out', 'fade-in');
        document.body.style.overflowY = 'auto';
        dropdownBtn.classList.replace('rotated-180', 'rotated-180-reverse');
      }
    });

    contentRestorer.observe(document.body);

    // Show the dropdown
    dropdownBtn.addEventListener('click', () => {
      if (dropdown.classList.contains('expanded')) {
        dropdown.addEventListener(
          'animationend',
          () => {
            dropdown.classList.toggle('expanded');
            main.classList.replace('fade-out', 'fade-in');
          },
          { once: true }
        );
        if (isIndex) {
          header.classList.add('transparent');
        }
        dropdown.classList.replace('fade-in', 'fade-out');
        document.body.style.overflowY = 'auto';
        return;
      }

      main.addEventListener(
        'animationend',
        () => {
          dropdown.classList.toggle('expanded');

          if (dropdown.classList.contains('fade-out')) {
            dropdown.classList.replace('fade-out', 'fade-in');
          } else {
            dropdown.classList.add('fade-in');
          }

          if (isIndex) {
            header.classList.remove('transparent');
          }
        },
        { once: true }
      );

      if (main.classList.contains('fade-in')) {
        main.classList.replace('fade-in', 'fade-out');
      } else {
        main.classList.add('fade-out');
      }

      document.body.style.overflowY = 'hidden';
    });

    // Rotate the chevron

    dropdownBtn.addEventListener('click', () => {
      const isRotated = dropdownBtn.classList.contains('rotated-180');

      dropdownBtn.classList.toggle('rotated-180', !isRotated);
      dropdownBtn.classList.toggle('rotated-180-reverse', isRotated);
    });
  });
</script>
