---
import SVGIcon from './SVGIcon.astro';
---

<button class="dropdown-btn">
  <SVGIcon name="dropdown" />
</button>

<style>
  button {
    height: 100%;
  }

  @media only screen and (min-width: 625px) {
    button {
      display: none;
    }
  }
</style>

<script is:inline>
  document.addEventListener('astro:page-load', () => {
    document.querySelector('.dropdown-btn').addEventListener('click', () => {
      const nav = document.querySelector('nav:not(.desktop)');
      const headerHeight = window.getComputedStyle(
        document.querySelector('header')
      ).height;

      const headerHeightVal = Number(headerHeight.replace(/[^\d.]/g, ''));

      nav.style.paddingTop = `${headerHeightVal + 10}px`;
      nav.classList.toggle('expanded');
    });
  });
</script>
