---
import LanguageSelector from './LanguageSelector.astro';
import Navigation from './Navigation.astro';
import Social from './Social.astro';
---

<div class="dropdown" transition:name="dropdown" transition:animate="fade">
  <Navigation />
  <div>
    <LanguageSelector />
    <Social />
  </div>
</div>

<style>
  .dropdown {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 1.5rem;
    background: var(--color-background);
    display: none;
    z-index: 999;
  }

  div:not(.dropdown) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .expanded {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media only screen and (width >= 625px) {
    .expanded {
      display: none;
    }
  }
</style>
