---
const currentPage = Astro.url.pathname;
const currentLocale = Astro.currentLocale;
---

<nav>
  <a
    href={currentLocale === 'es' ? currentPage : currentPage.replace('/en', '')}
    class="selected"
    >es
  </a>
  <a href={currentLocale === 'en' ? currentPage : `/en${currentPage}`}>en</a>
</nav>

<style>
  nav {
    display: flex;
    gap: 0.5em;
  }

  .selected {
    text-decoration: underline;
  }

  a {
    color: var(--color-dark);
  }
</style>

<script is:inline>
  document.addEventListener('astro:page-load', () => {});
</script>
