---
const currentPage = Astro.url.pathname;
const currentLocale = Astro.currentLocale;
---

<nav>
  <a
    href={currentLocale === 'es' ? currentPage : currentPage.replace('/en', '')}
    class:list={['lang-link', currentLocale === 'es' ? 'selected' : '']}
    >es
  </a>
  <a
    href={currentLocale === 'en' ? currentPage : `/en${currentPage}`}
    class:list={['lang-link', currentLocale === 'en' ? 'selected' : '']}>en</a
  >
</nav>

<style>
  nav {
    display: flex;
    gap: 0.5em;
    font-size: 1.25rem;
  }

  .selected {
    text-decoration: underline;
  }

  a {
    color: var(--color-text);
  }

  @media only screen and (min-width: 625px) {  
    nav {
      font-size: 1rem;
    }
  }
</style>
