---
import { getRelativeLocaleUrl } from 'astro:i18n';

const { currentLocale } = Astro;
---

<h1><a href={getRelativeLocaleUrl(currentLocale, '/')}>GUARDA</a></h1>

<style>
  h1 {
    font-weight: 500;
    flex: 1;
    margin: 0;
  }
</style>
