---
import NavigationLink from './NavigationLink.astro';
import { fade } from 'astro:transitions';
---

<nav transition:name="nav" transition:animate={fade({ duration: '0.5s' })}>
  <ul>
    <li><NavigationLink href="/about">About</NavigationLink></li>
    <li><NavigationLink href="/discography">Discography</NavigationLink></li>
    <li><NavigationLink href="/live">Live</NavigationLink></li>
    <li><NavigationLink href="/contact">Contact</NavigationLink></li>
  </ul>
</nav>

<style>
  nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding: 1rem 1.5rem;
    display: none;
    background: var(--color-light);
  }

  .expanded {
    display: block;
  }

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: start;
  }

  @media only screen and (min-width: 625px) {
    nav,
    .expanded {
      display: none;
    }
  }
</style>
