---
const { href } = Astro.props;

const currentPath = Astro.url.pathname;
const isActive = href === currentPath;
---

<a href={href} class={isActive ? 'active' : ''}>
  <slot />
</a>

<style>
  a {
    color: var(--color-text);
  }

  .active,
  .active:hover {
    color: var(--color-accent);
  }

  a:hover {
    color: var(--color-text-hover);
  }
</style>
