---
import { getRelativeLocaleUrl } from 'astro:i18n';
import NavigationLink from './NavigationLink.astro';

const currentLocale = Astro.currentLocale;
---

<nav>
  <ul>
    <li>
      <NavigationLink href={getRelativeLocaleUrl(currentLocale, 'about')}
        >About</NavigationLink
      >
    </li>
    <li>
      <NavigationLink href={getRelativeLocaleUrl(currentLocale, 'discography')}
        >Discography</NavigationLink
      >
    </li>
    <li>
      <NavigationLink href={getRelativeLocaleUrl(currentLocale, 'live')}
        >Live</NavigationLink
      >
    </li>
    <li>
      <NavigationLink href={getRelativeLocaleUrl(currentLocale, 'contact')}
        >Contact</NavigationLink
      >
    </li>
  </ul>
</nav>

<style>
  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: start;
  }

  @media only screen and (min-width: 625px) {  
    ul {
      flex-direction: row;
    }
  }
</style>
