---
---

<nav>
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/discography">Discography</a></li>
    <li><a href="/live">Live</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>

<style>
  nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: calc(100dvh - 100%);
    padding: 1rem 1.5rem;
    display: none;
    background: var(--color-light);
  }

  .expanded {
    display: block;
  }

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: start;
  }

  @media only screen and (min-width: 625px) {
    nav {
      position: static;
      height: auto;
      padding: 0;
      display: block;
    }

    ul {
      gap: 1em;
      flex-direction: row;
    }

    a:hover {
      color: var(--color-dark-hover);
    }
  }
</style>
