---
const { href } = Astro.props;
const currentPath = Astro.url.pathname;
---

<a href={href} class:list={[href === currentPath ? 'active' : '']}>
  <slot />
</a>

<style>
  a {
    color: var(--color-text);
  }

  .active,
  .active:hover {
    color: var(--color-accent);
  }

  a:hover {
    color: var(--color-text-hover);
  }
</style>
