---
import { Icon } from 'astro-icon/components';

const socialData = [
  {
    iconName: 'instagram',
    url: 'https://instagram.com/joelricorada',
  },
  {
    iconName: 'bandcamp',
    url: 'https://joelricorada.bandcamp.com/',
  },
  {
    iconName: 'youtube',
    url: 'https://www.youtube.com/channel/UClPzJnuXL3HBqT7HWUUM1KQ',
  },
  {
    iconName: 'spotify',
    url: `https://open.spotify.com/intl-es/artist/5eBZuse0Ntu8UgrPleYZY8?si
      =g2qzrCylTFStHjGhGv47hg`,
  },
];
---

<ul class="social">
  {
    socialData.map(({ iconName, url }) => (
      <li>
        <a href={url} aria-label={`Visit GUARDA's ${iconName}`}>
          <Icon name={iconName} />
        </a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    gap: 1em;
  }

  [data-icon] {
    height: 1.75em;
    width: 1.75em;
    stroke: var(--color-text);
  }

  [data-icon]:hover {
    stroke: var(--color-text-hover);
  }
</style>
