---
import { Icon } from 'astro-icon/components';
import * as accounts from '../utils/accounts.json';
const socialData = Object.entries(accounts.social).map(([iconName, url]) => ({
  iconName,
  url,
}));
---

<ul class="social">
  {
    socialData.map(({ iconName, url }) => (
      <li>
        <a href={url} aria-label={`Visit GUARDA's ${iconName}`}>
          <Icon name={iconName} />
        </a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    gap: 1em;
  }

  [data-icon] {
    height: 1.75em;
    width: 1.75em;
    stroke: var(--color-text);
  }

  [data-icon]:hover {
    stroke: var(--color-text-hover);
  }
</style>
