---
import '../styles/reset.css';
import '../styles/global.css';

import { ViewTransitions } from 'astro:transitions';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="page-wrapper">
      <Header transition:persist />
      <main transition:name="main" transition:animate="fade">
        <Navigation />
        <slot />
      </main>
      <Footer transition:name="footer" transition:animate="fade" />
    </div>
  </body>
</html>

<style>
  main {
    position: relative;
  }
</style>
