---
import Dropdown from '../components/Dropdown.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';
import '../styles/reset.css';
import ViewTransitions from 'astro/components/ViewTransitions.astro';

const { title, description, lang, viewportRestricted } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <Head>
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions fallback="swap" />
  </Head>
  <body>
    <div
      class:list={[
        'page-wrapper',
        viewportRestricted ? 'viewport-restricted' : '',
      ]}
    >
      <Header />
      <slot />
      <Footer transition:name="footer" transition:animate="fade" />
    </div>
    <Dropdown />
  </body>
</html>

<style>
  body {
    width: 100dvw;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }

  .page-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    max-width: 1400px;
  }

  .viewport-restricted {
    height: 100dvh;
  }
</style>
