---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <main>
    <slot />
  </main>
</BaseLayout>

<style>
  main {
    padding-top: 0;
    font-size: 0.8rem;
  }
</style>